body {
  position: relative;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  color:#860000;    
  text-align: center;
  margin-top: 0px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center; 
}

#header__web {    
  margin-left: 0;
  text-align: center;
  margin-bottom: 1.5em;
}

header {
  display: block;
}

img {
  width: 80px;
  position: absolute;
}

footer {
  position: absolute;
  width: 100%; /* Esto es para que se ponga en el centro */
  padding-bottom: 1em;
  background: rgba(0, 0, 0, 0.3); /* Black background with 30% opacity */
  text-align: center;    
}

p {
  text-align: justify;
}

label {
  font-weight: bold;
}
a:link{
  color: black;
  text-decoration-line: none;
}

a:visited{
  color: black;
}

#header__tareas {
  justify-content: center;
  align-items: center;
}

.div__tareas {    
  width: 50%;    
  margin: auto; 
  padding: 3rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);        
  justify-content: center;
  align-items: center;     
  margin-bottom: 70px; 
}

.form__modificar{
  width: 50%;    
  margin: auto; 
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);        
  justify-content: center;
  align-items: center;      
}

.form__agregar {
  width: 50%;    
  margin: auto; 
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);        
  justify-content: center;
  align-items: center;      
}

#table__tareas {
  border-collapse: collapse;
  width: 100%;
}

#table__tareas td, #table__tareas th {
  border: 1px solid #ddd;
  padding: 8px;
  border: 0;
  text-align: center;
}

#table__tareas tr {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  border-collapse: collapse;
  text-align: center;    
}

#table__tareas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
}

#button__agregar {
  float: right;
  margin-top: 1em;
  margin-right: 0.75em;    
}

#button__vertarea {    
  margin-top: 1em;
  margin-right: 0.75em;      
  float:right;
}

#button__agregartarea {
  float: right;
  margin-right: 1.5em;    
}

#table__tareas tr:nth-child(even){background-color: #f2f2f2;}

#table__tareas tr:hover {background-color: #ddd;}
